body {
    margin: 10px 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#timer-message {
    margin: auto 0;
}

ul {
    list-style: none;
}

button {

}

.answer-choice {
    font-family: monospace;
    padding: 20px;
    margin: 20px 0;
    background-color: powderblue;
    border-radius: 10px;
}

.answer-choice:hover {
    background-color: darkcyan;
}

.score-list-item {
    padding: 7px;
    margin: 10px 0;
    background-color: powderblue;
}

.change-page {
    position: fixed;
    top: 15px;
    left: 15px;
}

@media screen and (max-width: 550px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #timer-message {
        margin-bottom: 15px;
    }
}